.t-header {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.t-header .t-header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 1280px;
}

.t-header .t-header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.t-header .t-header_right button {
    padding: 12px 24px;
    border: unset;
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    background-color: #1178ff;
    color: #fff;
    font-weight: 600;
}

.t-header .t-header_right p {
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.t-header .t-header_right button:focus {
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.t-header .t-header_left {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.t-header .t-header_left i {
    font-size: 40px;
    color: #dbdbdb;
}

.t-header .t-header_left div {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #00a53f;
    margin-bottom: 4px;
}

.t-header .t-header_left a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.t-header .t-header_left a p {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.t-header .t-header_left a p:nth-child(1) {
    color: #0077ff;
    color: #a58c00;
}

.t-header .t-header_left a p:nth-child(3) {
    color: #00a53f;
}

.t-header_form {
    width: 100%;
    height: 100%;
}

.t-header_form .t-header_form_item {
    width: 100%;
    margin-bottom: 20px;
}


.t-header_form .t-header_form_item p {
    margin-bottom: 4px;
}

.t-header_form .t-header_form_item input {
    width: 100%;
    border-radius: 4px;
    border-color: #cccccc;
    height: 38px;
}

.t-header_form .t-header_form_item:last-child p {
    margin: 0;
    cursor: pointer;
}

.t-header_form .t-header_form_item:last-child input:focus {
    outline: unset;
    border: unset;
}

.t-header_form .t-header_form_item-error p,
.t-header_form .t-header_form_item-error span {
    color: #f00;
}

.t-header_form .t-header_form_item-error input {
    border-color: #f00;
}

.t-header_form_action {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

.t-header_form_action a {
    color: #1178ff;
    cursor: pointer;
}

.t-header_form_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.t-header_form_button button {
    padding: 8px 20px;
    background-color: rgb(0, 110, 255);
    color: #fff;
    min-width: 100px;
    border-radius: 6px;
}

.t-header_form_button button .a-loading {
    background-color: transparent;
}

.t-header_form_button button .a-loading .dot-spinner {
    height: 22px;
    width: 22px;
}

.t-header_form_button button:focus {
    opacity: 0.7;
}

.t-header_form_button button:first-child {
    background-color: #f00;
    color: #fff;
}


.t-header_signup {
    width: 100%;
}

.t-header_signup .t-header_signup_item {
    width: 100%;
    gap: 8px;
    margin-bottom: 8px;
}

.t-header_signup .t-header_signup_item p {
    margin-bottom: 4px;
}

.t-header_signup .t-header_signup_item span {
    height: 19px;
    min-height: 19px;
    margin-left: 4px;
    display: block;
}

.t-header_signup .t-header_signup_item p span {
    color: #f00;
    display: inline-block;
}

.t-header_signup .t-header_signup_item input {
    width: 100%;
    border-radius: 4px;
    height: 38px;
    border-color: #cccccc;
}

.t-header_signup .t-header_signup_item-error {
    color: #f00;
}

.t-header_signup .t-header_signup_item-error input {
    border-color: #f00;
}

.t-header_form_toogle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 4px;
}

.t-header .t-header_right_rating {
    height: 45px;
    z-index: 10;
    min-width: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00a53f !important;
    padding: 3px 8px;
    border-radius: 4px;
    gap: 6px;
    box-shadow: 2px 2px 5px 0px rgba(172, 172, 172, 0.3);
}

.t-header .t-header_right .t-header_right_rating img {
    width: 24px;
}

@media only screen and (max-width: 1280px) {
    .t-header .t-header_wrapper {
        width: 100vw;
    }
}