.t-mobile_body {
  height: fit-content;
  width: 100dvw;
  position: relative;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.t-mobile_body_flower {
  height: fit-content;
  width: fit-content;
}

.t-mobile_body-dark {
  background-color: #393939;
}

.t-mobile_body .t-mobile_body_action {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 46%;
  z-index: 200;
}

.t-mobile_body .t-mobile_body_action button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: unset;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  background-color: transparent;
  border: 1px solid #000;
  padding: 4px;
  background-color: #fff;
}


.t-mobile_body .t-mobile_body_action button img {
  height: 60px;
  width: 60px;
}

.t-mobile_body .t-mobile_body_prev_next {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  padding: 10px;
}

.t-mobile_body .t-mobile_body_prev_next button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: unset;
  border: 1px solid #dbdbdb;
}

.t-mobile_body .t-mobile_body_filter {
  width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #78869f;
  padding: 8px 0;
}

.t-mobile_body .t-mobile_body_indicator {
  width: 100vw;
  min-height: 100px;
  padding: 8px 0;
}

.t-mobile_body .t-mobile_body_filter p {
  color: #fff;
  font-size: 16px;
}

.t-mobile_body .t-mobile_body_filter button {
  margin-top: 12px;
  width: fit-content;
  min-width: 120px;
  display: flex;
  justify-content: center;
  border: 1px solid #f00;
  background-color: #f00;
  color: #fff;
  border-radius: 4px;
  padding: 2px 0;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: scroll;
  padding-top: 12px;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper::-webkit-scrollbar {
  display: none;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper>* {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper>*>img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 660px) {
  .t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}