.t-mobile_body {
  height: fit-content;
  width: 100dvw;
  position: relative;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.t-mobile_body_flower {
  height: fit-content;
  width: 100vw;
}

.t-mobile_body-dark {
  background-color: #393939;
}

.t-mobile_body .t-mobile_body_action {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 46%;
  z-index: 200;
}

.t-mobile_body .t-mobile_body_action button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: unset;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  background-color: transparent;
  border: 1px solid #000;
  padding: 4px;
  background-color: #fff;
}


.t-mobile_body .t-mobile_body_action button img {
  height: 60px;
  width: 60px;
}

.t-mobile_body .t-mobile_body_prev_next {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  padding: 10px;
}

.t-mobile_body .t-mobile_body_prev_next button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: unset;
  border: 1px solid #dbdbdb;
}

.t-mobile_body .t-mobile_body_filter {
  width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #78869f;
  padding: 8px 0;
}

.t-mobile_body .t-mobile_body_indicator {
  width: 100vw;
  min-height: 100px;
  padding: 8px 0;
}

.t-mobile_body .t-mobile_body_filter p {
  color: #fff;
  font-size: 16px;
}

.t-mobile_body .t-mobile_body_filter button {
  margin-top: 12px;
  width: fit-content;
  min-width: 100px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f00;
  background-color: #f00;
  color: #fff;
  border-radius: 6px;
  padding: 2px 4px;
  font-weight: 500;
}

.t-mobile_body_filter_wrapper_button {
  gap: 8px;
  padding: 0 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: scroll;
  padding-top: 12px;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper::-webkit-scrollbar {
  display: none;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper>* {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper>*>img {
  height: 24px;
  width: 24px;
}

.t-mobile_body ul {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  gap: 6px;
  padding: 12px 8px 0;
}

.t-mobile_body ul .a-loading {
  background-color: transparent;
}

.t-mobile_body ul li {
  display: flex;
  flex-wrap: wrap;
}

.t-mobile_body ul li span {
  padding: 4px 8px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: (1);
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-radius: 4px;
}

.t-mobile_body_indicator {
  gap: 4px;
  min-height: 100px;
  padding: 4px 20px;
  margin-top: 20px;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item {
  margin: 0 16px 12px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1px;
  border-top: 1px solid #dbdbdb;
}

.t-mobile_body_indicator_item_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item:last-child {
  border-bottom: 1px solid #dbdbdb;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item:first-child {
  border-top: unset;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item_title h2 {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #002b64;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item_title p {
  font-weight: 400;
  font-size: 18px;
  color: #8da0b6;
}

.t-mobile_body_indicator .t-mobile_body_indicator_item_wrapper>div>div {
  border-radius: 8px 8px 0 0;
}

.t-mobile_body_indicator_item_wrapper_colum-active {
  background-color: rgb(255, 81, 0);
}

.t-mobile_body_indicator_item_wrapper_colum-normal {
  background-color: #0066db;
}

.t-mobile_body_indicator_item_wrapper_colum-active:hover {
  background-color: rgb(0, 100, 30);
}

.t-mobile_body_indicator_item_wrapper_colum-normal:hover {
  background-color: #333;
}

@media screen and (max-width: 660px) {
  .t-mobile_body .t-mobile_body_filter .t-mobile_body_filter_wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}