.react-responsive-modal-modal {
    min-height: 300px;
    min-width: 30vw;
    width: fit-content;
}

.react-responsive-modal-closeButton:focus {
    outline: unset;
    border: unset;
}

.o-modal_header {
    text-align: center;
    font-weight: 600;
    color: rgb(29, 51, 110);
    font-size: 16px;
    text-transform: uppercase;

}