.p-home {
    width: 100%;
    height: 100%;
}

.p-home_chart {
    width: 100%;
    height: 100%;
    background: rgb(245, 246, 246);
    background: linear-gradient(180deg, #e3e8f2 0%, #e4e2d5 100%);
}