* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  font-size: 14px;
}

.Toastify__toast {
  min-width: 390px !important;
  min-height: 90px !important;
}

.Toastify__toast .Toastify__toast-body .Toastify__toast-icon svg {
  transform: scale(1.2);
}