* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 14px;
}

.Toastify__toast-container,
.Toastify__toast {
  min-width: 400px !important;
  min-height: 90px !important;
}