.t-mobile {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}

.t-mobile::-webkit-scrollbar {
  display: none;
}

.t-mobile .t-mobile_button_rating {
  position: fixed;
  top: 80px;
  height: 36px;
  right: 10px;
  z-index: 10;
  min-width: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00a53f;
  padding: 3px 8px;
  border-radius: 4px;
  gap: 6px;
  box-shadow: 2px 2px 5px 0px rgba(172, 172, 172, 0.3);
}

.t-mobile .t-mobile_button_rating img {
  width: 24px;
}

.t-mobile .t-mobile_button_rating span {
  width: max-content;
  color: #fff;
  font-weight: 600;
}

.t-mobile .t-mobile_menu {
  position: absolute;
  height: fit-content;
  width: 100vw;
  top: -70px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  transition: top .5s ease-in-out, box-shadow 1s ease-in;
  z-index: 100;
}

.t-mobile-light .t-mobile_menu {
  background-color: #a7a7a7;
  color: #ffffff;
}

.t-mobile-dark .t-mobile_menu {
  background-color: #ffffff;
  color: #393939;
}

.t-mobile .t-mobile_menu button {
  list-style: none;
  cursor: pointer;
  padding: 20px 16px;
  border-bottom: 1px solid #dbdbdb;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  width: 100%;
  text-align: start;
}

.t-mobile .t-mobile_menu li:last-child {
  border-bottom: unset;
}

.t-mobile .t-mobile_header {
  height: 70px;
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  overflow: hidden;
}

.t-mobile-light .t-mobile_header {
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

.t-mobile-dark .t-mobile_header {
  background-color: #393939;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.774);
}


.o-modal-form_mobile .react-responsive-modal-modal {
  height: fit-content;
  width: fit-content;
  min-width: 60dvw;
  margin: 0;
  max-height: 80dvh;
}

.o-modal-form-authen .react-responsive-modal-modal {
  min-width: 40dvw;
  margin: 0;
}

.o-modal-form_mobile .react-responsive-modal-modal .t-header_form {
  height: fit-content;
  width: 100%;
}

.o-modal-form_mobile .t-chart_form {
  width: 100%;
  min-width: unset;
  max-width: unset;
}

.t-wrapper_form_rating h1 {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #005eca;
  margin-bottom: 8px;
}

.o-modal-form_confirm_mobile .react-responsive-modal-modal {
  height: fit-content;
  overflow-y: scroll;
  min-height: unset;
}

.o-modal-comfirm .react-responsive-modal-modal {
  height: fit-content;
  overflow-y: scroll;
  min-height: unset;
  padding: 8px;
  margin: 12px;
}

.o-modal-form_authen .react-responsive-modal-modal {
  height: fit-content;
  width: 90vw;
  min-width: 90vw;
  padding: 8px 20px;
  margin: 12px;
}

.react-responsive-modal-modal {
  height: fit-content;
  overflow-y: scroll;
  min-height: unset;
  padding: 8px;
  margin: 12px;
}

.safari-brower .t-chart_form {
  min-width: unset;
}

@media screen and (max-width: 500px) {
  .o-modal-form_mobile .react-responsive-modal-modal {
    height: fit-content;
    min-height: 95dvh;
    max-height: 95dvh;
    width: 95dvw;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .o-modal-form_mobile .react-responsive-modal-modal::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .o-modal-form-authen .react-responsive-modal-modal {
    min-width: 55dvw;
    margin: 0;
  }
}