.a-dropdown {
    margin-bottom: 16px;
    width: 100%;
}

.a-dropdown_header {
    margin-bottom: 4px;
}

.a-dropdown_header span {
    color: #f00;
}

.a-dropdown .a-dropdown-error span,
.a-dropdown .a-dropdown-error .a-dropdown_header {
    color: #f00;
}

.a-dropdown .a-dropdown_header {
    font-weight: 600;
}

.a-dropdown-error span,
.a-dropdown-error .a-dropdown_header {
    color: #f00;
}

.a-dropdown-error .a-dropdown_input .css-13cymwt-control {
    border-color: #f00;
}

.a-dropdown-error .a-dropdown-error span {
    font-size: 13px;
}

.a-dropdown .css-13cymwt-control::placeholder {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}